@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply leading-[normal] m-0;
}

*,
::before,
::after {
  border-width: 0;
}

@layer base {
  * {
    @apply box-border;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    @apply text-inherit font-bold m-0;
  }

  ul {
    @apply list-none m-0 p-0;
  }

  a {
    @apply text-inherit no-underline;
  }

  button {
    @apply text-inherit bg-transparent border-none cursor-pointer;
  }
  
 

}
@layer components {
  .swiper-screenshots-pagination .swiper-pagination-bullet {
    @apply !w-5 !h-5 rounded-full !border !border-midnightblue !bg-white !border-solid;
  }

  .swiper-screenshots-pagination .swiper-pagination-bullet-active {
    @apply !bg-cornflowerblue-100;
  }
  .product-filter-button {
    @apply !bg-white !px-5 !py-2.5 !border !border-midnightblue/20 !border-solid !rounded-sm !text-midnightblue !cursor-pointer;
  }

  .product-filter-button[data-active] {
    @apply !bg-cornflowerblue-100 !text-white;
  } 
  
}

 .category-button.active {
  background-color: rgb(0 149 243)!important;
  color:white!important;
}

.vehicule.swiper-slide
{
    display: flex !important;
}

a{
  outline: none !important;
}


ul {
  list-style: none !important;
}

.page {
  margin:0 !important;
}
ul#header-menu a{
  color: #fff;
}

ul#liens-utils a{
  color: rgb(69 69 77);
}

ul#pages-légales a{
  color: rgb(69 69 77);
}
input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
	 outline : none !important;
    display: flex !important;
    justify-content: center !important;
    align-items: flex-start !important;
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important;
    margin-top: 1rem !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #d1d5db !important;
    color: #374151 !important;
    padding: 1rem !important;
	  width: 250px !important;

}
@media screen and (max-width:375px){
  input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
    width: 100% !important;
  }
}
input.wpcf7-form-control.wpcf7-tel.wpcf7-text.wpcf7-validates-as-tel {
	  outline : none !important;
    display: flex !important;
    justify-content: center !important;
    align-items: flex-start !important;
    padding-left: 1.25rem !important; 
    padding-right: 1.25rem !important; 
    padding-top: 1.25rem !important; 
    padding-bottom: 1.25rem !important; 
    margin-top: 1rem !important; 
    border-width: 1px !important;
    border-style: solid !important; 
    border-color: #d1d5db !important; 
    color: #374151 !important; 
    padding: 1rem !important; 
	  width: 250px !important;
}

@media screen and (max-width:375px){
  input.wpcf7-form-control.wpcf7-tel.wpcf7-text.wpcf7-validates-as-tel {
    width: 100% !important;
  }
}

textarea.wpcf7-form-control.wpcf7-textarea {
	  outline : none !important;
    display: flex !important;
    justify-content: center !important;
    align-items: flex-start !important;
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
    padding-top: 0.875rem !important;
    padding-bottom: 2rem !important;
    margin-top: 1rem !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #d1d5db !important;
    color: #374151 !important;
	  max-width: 100% !important;
	  height: 100px !important;
}

input.wpcf7-form-control.wpcf7-submit.has-spinner {
	 outline : none !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding-left: 4rem !important;
    padding-right: 4rem !important;
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important;
    margin-top: 0.875rem !important;
    font-weight: 600 !important;
    color: #ffffff !important;
    white-space: nowrap !important;
    background-color: rgb(0 149 243) !important;
    border-radius: 0.125rem !important;
	  width:100% !important;
	  margin : 0 !important;
}

#nom.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
  outline : none !important;
  display: flex !important;
  justify-content: center !important;
  align-items: flex-start !important;
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important;
  margin-top: 1rem !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #d1d5db !important;
  color: #374151 !important;
  padding: 1rem !important;
  width: 350px !important;
}

  @media screen and (max-width:375px){
    #nom.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
      width: 335px !important;
  }
} 
    
#email.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required  {
  outline : none !important;
display: flex !important;
justify-content: center !important;
align-items: flex-start !important;
padding-left: 1.25rem !important;
padding-right: 1.25rem !important;
padding-top: 1.25rem !important;
padding-bottom: 1.25rem !important;
margin-top: 1rem !important;
border-width: 1px !important;
border-style: solid !important;
border-color: #d1d5db !important;
color: #374151 !important;
padding: 1rem !important;
width: 350px !important;

}
@media screen and (max-width:375px){
    #email.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
      width: 335px !important;
  }
}

#tel.wpcf7-form-control.wpcf7-tel.wpcf7-text.wpcf7-validates-as-tel {
  outline : none !important;
display: flex !important;
justify-content: center !important;
align-items: flex-start !important;
padding-left: 1.25rem !important;
padding-right: 1.25rem !important;
padding-top: 1.25rem !important;
padding-bottom: 1.25rem !important;
margin-top: 1rem !important;
border-width: 1px !important;
border-style: solid !important;
border-color: #d1d5db !important;
color: #374151 !important;
padding: 1rem !important;
width: 350px !important;
}

@media screen and (max-width:375px){
  #tel.wpcf7-form-control.wpcf7-tel.wpcf7-text.wpcf7-validates-as-tel {
    width: 335px !important;
}
}

textarea#msg{
  outline : none !important;
  display: flex !important;
  justify-content: center !important;
  align-items: flex-start !important;
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
  padding-top: 0.875rem !important;
  padding-bottom: 2rem !important;
  margin-top: 1rem !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #d1d5db !important;
  color: #374151 !important;
  max-width: 100% !important;
  height: 140px !important;

}
#ville.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
  outline : none !important;
 display: flex !important;
 justify-content: center !important;
 align-items: flex-start !important;
 padding-left: 1.25rem !important;
 padding-right: 1.25rem !important;
 padding-top: 1.25rem !important;
 padding-bottom: 1.25rem !important;
 margin-top: 1rem !important;
 border-width: 1px !important;
 border-style: solid !important;
 border-color: #d1d5db !important;
 color: #374151 !important;
 padding: 1rem !important;
 width: 350px !important;

}
@media screen and (max-width:375px){
  #ville.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
    width: 335px !important;
}
}

#env.wpcf7-form-control.wpcf7-submit.has-spinner {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  align-self: center !important;
  padding-left: 4rem !important;
  padding-right: 4rem !important;
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important;
  margin-top: 4rem !important;
  font-weight: 600 !important;
  color: #ffffff !important;
  white-space: nowrap !important;
  background-color: rgb(0 149 243) !important;
  border-radius: 0.125rem !important;
  width: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 500px !important;
  margin-top: 50px !important;
}

@media screen and (max-width:375px){
  #env.wpcf7-form-control.wpcf7-submit.has-spinner {
    width: 335px !important;
}
}

#sjt.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
  outline : none !important;
 display: flex !important;
 justify-content: center !important;
 align-items: flex-start !important;
 padding-left: 1.25rem !important;
 padding-right: 1.25rem !important;
 padding-top: 1.25rem !important;
 padding-bottom: 1.25rem !important;
 margin-top: 1rem !important;
 border-width: 1px !important;
 border-style: solid !important;
 border-color: #d1d5db !important;
 color: #374151 !important;
 padding: 1rem !important;
 width: 350px !important;

}


@media screen and (max-width:375px){
  #sjt.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
    width: 335px !important;
}
}

select.wpcf7-form-control.wpcf7-select.wpcf7-validates-as-required {
  display: flex !important;
  justify-content: center !important;
  align-items: flex-start !important;
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important;
  margin-top: 1rem !important;
  background-color: #ffffff !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #d1d5db !important;
  color: #374151 !important;
  padding: 1rem !important;
  width: 350px !important;
}
@media screen and (max-width:375px){
  select.wpcf7-form-control.wpcf7-select.wpcf7-validates-as-required {
    width: 335px !important;
}
}

.menu-item-38 {
  position: relative !important;
  display: inline-block !important;
}

.sub-menu {
  display: none !important;
  position: absolute !important;
  top: 100% !important;
  background-color: #f0f0f1 !important;
  border : 1px solid #f0f0f1 !important;
  z-index: 1 !important;
  width:180px !important;
  padding : 7px !important;
  line-height: 30px !important;
}

.menu-item-38:hover .sub-menu {
  display: block !important;
}


.menu-item-32 {
  position: relative !important;
  display: inline-block !important;
}

.sub-menu {
  display: none !important;
  position: absolute !important;
  top: 100% !important;
  background-color: rgb(0 149 243) !important;
  border : 1px solid rgb(0 149 243) !important;
  z-index: 1 !important;
  width:180px !important;
  padding : 10px !important;
  line-height: 30px !important;
 margin-left:-30px;
 
}

.menu-item-32:hover .sub-menu {
  display: block !important;
}
.Tracky-pagination .page-numbers {
display: flex;
justify-content: center;
align-items: center;
padding-left: 1.5rem;  
padding-right: 1.5rem; 
background-color: white;
border: 1px solid #d4d4d4; 
color :gray;
height: 51px;
border-radius: 100px;
width: 51px;
}
.Tracky-pagination .page-numbers.current{
  display: flex;
  justify-content: center;
  padding-left: 1.25rem;  
  padding-right: 1.25rem; 
  padding-top: 0.75rem;   
  padding-bottom: 0.75rem;
  border: 1px solid #d4d4d4; 
  border-radius: 100px;
  color: white;
 background-color: rgb(0 149 243);  
  
}




