@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply leading-[normal] m-0;
}

*,
::before,
::after {
  border-width: 0;
}

@layer base {
  * {
    @apply box-border;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    @apply text-inherit font-bold m-0;
  }

  ul {
    @apply list-none m-0 p-0;
  }

  a {
    @apply text-inherit no-underline;
  }

  button {
    @apply text-inherit bg-transparent border-none cursor-pointer;
  }

}
@layer components {
  .swiper-screenshots-pagination .swiper-pagination-bullet {
    @apply !w-5 !h-5 rounded-full !border !border-midnightblue !bg-white !border-solid;
  }

  .swiper-screenshots-pagination .swiper-pagination-bullet-active {
    @apply !bg-cornflowerblue-100;
  }
  .product-filter-button {
    @apply !bg-white !px-5 !py-2.5 !border !border-midnightblue/20 !border-solid !rounded-sm !text-midnightblue !cursor-pointer;
  }

  .product-filter-button[data-active] {
    @apply !bg-cornflowerblue-100 !text-white;
  }
}

.vehicule.swiper-slide
{
    display: flex !important;
}

a{
  outline: none !important;
}


ul {
  list-style: none !important;
}

.page {
  margin:0 !important;
}
ul#header-menu a{
  color: #fff;
}

ul#liens-utils a{
  color: rgb(69 69 77);
}

ul#pages-légales a{
  color: rgb(69 69 77);
}
input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
	 outline : none !important;
    display: flex !important;
    justify-content: center !important;
    align-items: flex-start !important;
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important;
    margin-top: 1rem !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #d1d5db !important;
    color: #374151 !important;
    padding: 1rem !important;
	  width: 250px !important;

}
input.wpcf7-form-control.wpcf7-tel.wpcf7-text.wpcf7-validates-as-tel {
	  outline : none !important;
    display: flex !important;
    justify-content: center !important;
    align-items: flex-start !important;
    padding-left: 1.25rem !important; 
    padding-right: 1.25rem !important; 
    padding-top: 1.25rem !important; 
    padding-bottom: 1.25rem !important; 
    margin-top: 1rem !important; 
    border-width: 1px !important;
    border-style: solid !important; 
    border-color: #d1d5db !important; 
    color: #374151 !important; 
    padding: 1rem !important; 
	  width: 250px !important;
}
textarea.wpcf7-form-control.wpcf7-textarea {
	   outline : none !important;
    display: flex !important;
    justify-content: center !important;
    align-items: flex-start !important;
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
    padding-top: 0.875rem !important;
    padding-bottom: 2rem !important;
    margin-top: 1rem !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #d1d5db !important;
    color: #374151 !important;
	  max-width: 100% !important;
	  height: 100px !important;
}

input.wpcf7-form-control.wpcf7-submit.has-spinner {
	 outline : none !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding-left: 4rem !important;
    padding-right: 4rem !important;
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important;
    margin-top: 0.875rem !important;
    font-weight: 600 !important;
    color: #ffffff !important;
    white-space: nowrap !important;
    background-color: rgb(0 149 243) !important;
    border-radius: 0.125rem !important;
	  width:100% !important;
	  margin : 0 !important;
}




